   <div class="col">
    <%= link_to product, class: "text-decoration-none text-reset" do%>
    <div class="card h-100">
      <%= image_tag product.image.variant(resize_to_limit: [500, 500]) if product.image.present? %> 
      <div class="card-body">

        <p class="card-text"><%= product.name %></p>
        <h5 class="card-title"><%= product.price%> $</h5>
      </div>
    </div>
    <% end %>
  </div>