<form action="<%=  search_categories_url %>" class="d-flex w-50" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
  <button class="btn btn-dark" type="submit">Search</button>
</form>